<div ng-controller="messagesController as $ctrl">
    <h4>Messages&nbsp;<button ng-click="$ctrl.init()"  class="btn btn-sm btn-outline-warning"><span class="fas fa-fw fa-sync"></span> Refresh</button></h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Reservation Title</th>
                    <th>Customer</th>
                    <th>Subject</th>
                    <th>Body</th>
                    <th>Date Created</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Date Sent</th>
                    <th>Send Count</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items" ng-click="$ctrl.setSelectedItem(item)" ng-class="{'text-muted': item.dateSent !== null, 'text-danger': item.dateSent === null}">
                    <td>
                        <span ng-if="$ctrl.selectedItem === item" class="btn-group btn-group-sm">
                            <button ng-click="$ctrl.resend(item.shortMessageId)" class="btn btn-outline-warning">
                                Resend
                            </button>
                            <button ng-click="$ctrl.markAsSent(item.shortMessageId)" class="btn btn-outline-info">
                                Mark as Sent
                            </button>
                        </span>
                    </td>
                    <td>{{item.reservation.title}}</td>
                    <td>{{item.reservation.user.fullName}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.body}}</td>
                    <td>{{item.dateCreated|date:'short'}}</td>
                    <td>{{item.sender}}</td>
                    <td>{{item.receiver}}</td>
                    <td>{{item.dateSent}}</td>
                    <td>{{item.sentCount}}</td>
                    <td>{{item.result}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>