<div ng-controller="packagesController as $ctrl">
    <h4>Gallery</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <!--<th>Items Name</th>
                    <th>Item Desc</th>
                    <th>Item Image</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in $ctrl.items" ng-click="$ctrl.setSelectedItem(item)">
                    <td rowspan="{{item.items.length+1}}">{{item.name}}</td>
                    <td rowspan="{{item.items.length+1}}">{{item.description}} </td>
                    <td rowspan="{{item.items.length+1}}"><button ng-click="$ctrl.dlgOpenAddPackageItem(item)" class="btn btn-outline-primary">
                        <span class="fas fa-fw fa-plus"></span>&nbsp;Add Package Item</button></td>
                    <td></td>
                </tr>
                <tr ng-repeat-end="" ng-repeat="subItem in item.images">
                    <td>{{subItem.name}}</td>
                    <td>{{subItem.description}}</td>
                    <td>
                        <img ng-if="subItem.imageUrl" ng-src="{{subItem.imageUrl}}" class="img-fluid img-thumbnail img-responsive" style="width:64px; height:64px;" />
                    </td>
                    <td>
                        <span class="btn-group btn-group-sm">
                            <button ng-click="$ctrl.dlgOpenEditPackageItem(subItem)" class="btn btn-outline-info">
                                <span class="fas fa-fw fa-edit"></span>&nbsp;Edit Info
                            </button>
                            <button ng-click="$ctrl.dlgOpenAddPackageItemImage(subItem)" class="btn btn-outline-warning">
                                <span class="fas fa-fw fa-file-image"></span>&nbsp;Edit Image
                            </button>
                            <button ng-click="$ctrl.removePackageItem(subItem)" class="btn btn-outline-danger">
                                <span class="fas fa-fw fa-trash"></span>&nbsp;Delete
                            </button>
                        </span>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>


    <script type="text/ng-template" id="modalAddPackageItem.html">
        <div>
            <div class="modal-header">
                <h5 class="modal-title">Add Package Item</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!--<span>Name</span>-->
                    <input ng-model="packageItem.name" class="form-control" placeholder="Enter the name of the package item" />
                </div>
                <div class="form-group">
                    <!--<span>Description</span>-->
                    <textarea rows="3" ng-model="packageItem.description" class="form-control" placeholder="Enter the description of the package item"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" type="button" ng-click="ok()">Save</button>
                <button class="btn btn-outline-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalEditPackageItem.html">
        <div>
            <div class="modal-header">
                <h5 class="modal-title">Edit Package Item</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!--<span>Name</span>-->
                    <input ng-model="packageItem.name" class="form-control" placeholder="Enter the name of the package item" />
                </div>
                <div class="form-group">
                    <!--<span>Description</span>-->
                    <textarea rows="3" ng-model="packageItem.description" class="form-control" placeholder="Enter the description of the package item"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" type="button" ng-click="ok()">Save</button>
                <button class="btn btn-outline-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalAddPackageItemImage.html">
        <div>
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="fas fa-fw fa-image"></span>&nbsp;Add Package Item Image
                </h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span>Select Image File</span>
                    <input id="file" type="file" class="form-control" />
                </div>
                <div class="form-group">
                    <span>Progress</span>
                    <div class="progress">
                        <progress id="fileProgress" class="progress-bar progress-bar-striped" style="display: none; width: 100%; height:100px;"></progress>
                    </div>

                    <!--<div>
                        <progress id="fileProgress1" class="progress-bar progress-bar-striped" style="display: none; width:100%;"></progress>
                    </div>

                    <span id="lblMessage" style="color: Green"></span>-->
                </div>
            </div>
            <div class="modal-footer">
                <!--<button ng-if="isDone" class="btn btn-primary" type="button" ng-click="close()">Done</button-->

                <button ng-if="isDone===false" class="btn btn-outline-primary" type="button" ng-click="ok()">
                    <span class="fas fa-fw fa-upload"></span>&nbsp;Upload
                </button>
                <button ng-if="isDone===false" class="btn btn-outline-warning" type="button" ng-click="cancel()">
                    <span class="fas fa-fw fa-times"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </script>
</div>