@page
@model catering.web.Pages.Account.ForgotPasswordModel
@{
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                Forgot Password
            </div>
            <div class="card-body">
                <form method="post" action="~/account/forgotpassword">

                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <div class="alert alert-info">
                            <p>@Model.Message</p>
                            <p>
                                Click <a href="~/account/login">Here</a> to login
                            </p>
                        </div>
                    }
                    else
                    {
                        <p>Password will be sent to your email account.</p>
                        @if (!string.IsNullOrWhiteSpace(Model.Error))
                        {
                            <div class="alert alert-warning">
                                @Model.Error
                            </div>
                        }
                        <div class="form-group">
                            <b>Email:</b>
                            <input asp-for="Email" type="email" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
