@page
@model catering.web.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" action="~/Account/Register">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Login Information</h4>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Contact Information
                    </h4>
                    <div class="form-group">
                        <label asp-for="Input.FullName"></label>
                        <input asp-for="Input.FullName" class="form-control" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email"  class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Address"></label>
                        <input asp-for="Input.Address"  class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Mobile"></label>
                        <input asp-for="Input.Mobile"  class="form-control" />
                        <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-warning">Log in</button>
                        <a href="~/" class="btn btn-outline-primary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</form>