@page
@model catering.web.Pages.MyReservations.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-sm-12">
        <div ng-include="'app/clientapp/customer/templates/my-reservations.html'">
            Loading your reservations. Please wait.
        </div>
    </div>
</div>

