@page
@model catering.web.Pages.Reservations.IndexModel
@{
    ViewData["Title"] = "Index";
}


@Html.AntiForgeryToken()


<div class="row">
    <div class="col-sm-12">
        <div ng-include="'app/clientapp/customer/templates/reservation.html'">
            Loading calendar, reservations, and packages. Please wait.
        </div>
    </div>
</div>
