@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';

/*@import '~bootstrap/dist/css/bootstrap.min.css';*/

@import '~bootstrap-material-design/dist/css/bootstrap-material-design.min.css';

@import '~fullcalendar/dist/fullcalendar.min.css';

@import '~angular-toastr/dist/angular-toastr.min.css';

.patient {
    color: green;
}

.all {
    color: blue;
}

.single {
    color: gainsboro;
}
