<div ng-controller="myReservationsController as $ctrl" id="myReservations">
    <h4>
        My Reservations
    </h4>
    <aside></aside>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Venue</th>
                    <th>Package</th>
                    <th>Due</th>
                    <th>Start</th>
                    <th>End</th>

                    <th>Due</th>
                    <th>Paid</th>
                    <th>Total Price</th>
                    <th>Reference Number</th>
                    <th ng-if="$ctrl.selectedItem">
                        Actions
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items" ng-click="$ctrl.setSelectedItem(item)"
                    ng-class="{ 'text-warning': item.reservationStatus == 0, 'text-info': item.reservationStatus == 1, 'text-success': item.reservationStatus === 2, 'text-danger': item.reservationStatus === 3 }">
                    <td>{{item.reservationStatusText}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.venue}}</td>
                    <td>{{item.package.name}}</td>
                    <td>{{item.toNow}}</td>
                    <td>{{item.dateStart | date:'medium'}}</td>
                    <td>{{item.dateEnd | date:'medium'}}</td>

                    <td>{{item.amountDue | number:'2'}}</td>
                    <td>{{item.amountPaid | number:'2'}}</td>
                    <td>{{item.totalPrice | number:'2'}}</td>
                    <td>{{item.referenceNumber}}</td>

                    <td ng-if="$ctrl.selectedItem">
                        <span ng-if="$ctrl.selectedItem === item" class="btn-group btn-group-sm">

                            <button ng-click="$ctrl.viewReservation()" class="btn btn-outline-info">
                                <span class="fas fa-eye"></span>&nbsp;View
                            </button>
                            <button ng-click="$ctrl.setPayment()" ng-if="item.reservationStatus === 0" class="btn btn-sm btn-outline-info">
                                <span class="fas fa-fw fa-money-bill"></span>&nbsp;Smart Padala Payment
                            </button>

                        </span>

                        <form ng-if="$ctrl.selectedItem === item && item.reservationStatus === 0"
                              action="api/customer/reservations/pay-with-stripe" method="POST" style="display:inline">

                            <input type="hidden" name="reservationId" ng-value="item.reservationId" />
                            <input type="hidden" name="amount" ng-value="item.totalPrice" />

                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_ZNR4gXFajYWPzmYpVrRUJKF3"
                                    data-amount="{{item.totalPrice*100}}"
                                    data-name="EC Catering Service"
                                    data-description="Reservation Charge"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>

                        <button ng-click="$ctrl.cancelReservation()" ng-if="$ctrl.selectedItem === item && (item.reservationStatus === 0 || item.reservationStatus === 1)" class="btn btn-sm btn-outline-danger">
                            <span class="fas fa-trash"></span>&nbsp;Cancel
                        </button>
                    </td>
                    <!--<td>{{item.guestCount | number:'2'}}</td>
    <td>{{item.plateCount | number:'2'}}</td>
    <td>{{item.spoonCount | number:'2'}}</td>
    <td>{{item.forkCount | number:'2'}}</td>
    <td>{{item.glassCount | number:'2'}}</td>
    <td>{{item.chairCount | number:'2'}}</td>
    <td>{{item.tableCount | number:'2'}}</td>

    <td>{{item.hasSoundSystem}}</td>
    <td>{{item.hasFlowers}}</td>-->

                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="modalPayment.html">
        <div class="modal-header">
            <h3 class="modal-title">Payment Details</h3>
        </div>
        <div class="modal-body">
            <div>
                Total Price: {{payment.totalPrice}}
            </div>
            <div>
                Amount Paid: <input ng-model="payment.amountPaid" type="number" step="0.01" min="1" class="form-control" />

            </div>
            <div>
                Reference Number: <textarea ng-model="payment.referenceNumber" rows="2" class="form-control" />

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalViewReservation.html">
        <div class="modal-header">
            <h3 class="modal-title">View Reservation</h3>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Package</label>
                    <div class="col-sm-9">
                        <span type="text" class="form-control-plaintext">{{reservation.package.name}} - {{reservation.package.description}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-9">
                        <span type="text" class="form-control-plaintext">{{reservation.dateStart | date:'short'}} - {{reservation.dateEnd | date:'short'}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                        <span type="text" class="form-control-plaintext">{{reservation.totalPrice | number:'2'}}</span>
                    </div>
                </div>
                <!--<div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <span type="text" class="form-control-plaintext">{{reservation.reservationStatus}}</span>
                    </div>
                </div>-->
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Guest Count</label>
                    <div class="col-sm-9">
                        <span type="text" class="form-control-plaintext">{{reservation.guestCount | number:'0'}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Prefered Layouts</label>
                    <div class="col-sm-9">
                        <img ng-src="{{img.imageUrl}}" ng-repeat="img in reservation.reservationItems" class="img-thumbnail" style="width:128px;height:128px;" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Notes and Comments</label>
                    <div class="col-sm-9">
                        <p ng-repeat="note in reservation.notes">{{note.dateCreated |date:'short'}}: {{note.content}}</p>
                    </div>
                </div>
            </div>
            <!--<div>
                {{reservation}}
            </div>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
        </div>
    </script>

    
    
</div>


