
<div class="row" ng-controller="reservationController as $ctrl">
    <div class="col-md-5">
        <div class="card border-success">
            <div class="m-2">
                <div id='calendar'></div>
            </div>
        </div>
    </div>

    <div class="col-md-7">

        <!-- package -->
        <div class="card border-success">
            <div class="card-header bg-dark text-white">
                <div class="row">
                    <div class="col-sm-5">
                        <h5><span class="fas fa-fw fa-calculator"></span>&nbsp;Calculator</h5>
                    </div>
                    <div class="col-sm-7">

                        <div class="text-right">
                            <button ng-click="$ctrl.checkAvailability()" class="btn btn-sm btn-outline-info">Check Availability</button>
                            <button ng-click="$ctrl.reset()" class="btn btn-sm btn-outline-warning">Reset</button>
                            <!--<button ng-click="$ctrl.processForm()"
                                    ng-disabled="!$ctrl.pricing.total"
                                    class="btn btn-sm"
                                    ng-class="{'btn-outline-primary': $ctrl.pricing.total<=0, 'btn-primary': $ctrl.pricing.total>0}">
                                Reserve
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <label class="col-sm-3 control-label text-right">Title</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="$ctrl.formData.title" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label text-right">Venue</label>
                        <div class="col-sm-8">
                            <textarea rows="3" ng-model="$ctrl.formData.venue" class="form-control"></textarea>
                        </div>
                    </div>


                    <div class="row form-group">
                        <label class="col-sm-3 control-label text-right">Event Start</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="date" ng-model="$ctrl.formData.startDate" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="time" ng-model="$ctrl.formData.startTime" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label text-right">Event End</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="date" ng-model="$ctrl.formData.endDate" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="time" ng-model="$ctrl.formData.endTime" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 control-label text-right">Package</label>
                        <div class="col-sm-8">
                            <select name="package" id="package" ng-model="$ctrl.formData.package" ng-change="$ctrl.reset()" class="form-control"
                                    ng-options="option.name for option in $ctrl.lookups.packages track by option.packageId"></select>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div ng-if="$ctrl.formData.package" class="card border-success mt-2">
            <div class="card-header  bg-dark text-white">
                <h5><span class="fas fa-fw fa-list"></span>&nbsp;Details</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-condensed table-sm table-hover m-0">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Count</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Extended Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="p-0">
                            <td class="text-right">
                                Guest
                            </td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.guestCount" min="0" class="form-control text-center btn-block" />
                            </td>
                            <td colspan="2">
                                <button ng-disabled="!$ctrl.pricing.guestCount" ng-click="$ctrl.autoAllocate()" class="btn btn-danger">Allocate</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Plates</td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.plateCount" ng-change="$ctrl.calculate()" min="0" class="form-control text-center" />
                            </td>
                            <td class="text-right">
                                {{$ctrl.pricing.plate | number:'2'}}
                            </td>
                            <td class="text-right">
                                {{ ($ctrl.pricing.plate * $ctrl.pricing.plateCount) | number:'2'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Spoons</td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.spoonCount" ng-change="$ctrl.calculate()" min="0" class="form-control text-center" />
                            </td>
                            <td class="text-right">
                                {{$ctrl.pricing.spoon | number:'2'}}
                            </td>
                            <td class="text-right">
                                {{ ($ctrl.pricing.spoon * $ctrl.pricing.spoonCount) | number:'2'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Forks</td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.forkCount" ng-change="$ctrl.calculate()" min="0" class="form-control text-center" />
                            </td>
                            <td class="text-right">
                                {{$ctrl.pricing.fork | number:'2'}}
                            </td>
                            <td class="text-right">
                                {{ ($ctrl.pricing.fork * $ctrl.pricing.forkCount) | number:'2'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Glasses</td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.glassCount" ng-change="$ctrl.calculate()" min="0" class="form-control text-center" />
                            </td>
                            <td class="text-right">
                                {{$ctrl.pricing.glass | number:'2'}}
                            </td>
                            <td class="text-right">
                                {{ ($ctrl.pricing.glass * $ctrl.pricing.glassCount) | number:'2'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Chairs</td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.chairCount" ng-change="$ctrl.calculate()" min="0" class="form-control text-center" />
                            </td>
                            <td class="text-right">
                                {{$ctrl.pricing.chair | number:'2'}}
                            </td>
                            <td class="text-right">
                                {{ ($ctrl.pricing.chair * $ctrl.pricing.chairCount) | number:'2'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Tables</td>
                            <td>
                                <input type="number" ng-model="$ctrl.pricing.tableCount" ng-change="$ctrl.calculate()" min="0" class="form-control text-center" />
                            </td>
                            <td class="text-right">
                                {{$ctrl.pricing.table | number:'2'}}
                            </td>
                            <td class="text-right">
                                {{ ($ctrl.pricing.table * $ctrl.pricing.tableCount) | number:'2'}}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right">Flowers</td>
                            <td>
                                <input type="checkbox" ng-model="$ctrl.pricing.hasFlower" ng-change="$ctrl.calculate()" />
                            </td>
                            <td colspan="2" class="text-right">
                                <span ng-switch="$ctrl.pricing.hasFlower">
                                    <span ng-switch-when="true">
                                        {{$ctrl.pricing.flower | number:'2'}}
                                    </span>
                                    <span ng-switch-default>
                                        0
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Sound System</td>
                            <td>
                                <input type="checkbox" ng-model="$ctrl.pricing.hasSoundSystem" ng-change="$ctrl.calculate()" />
                            </td>
                            <td colspan="2" class="text-right">
                                <span ng-switch="$ctrl.pricing.hasSoundSystem">
                                    <span ng-switch-when="true">
                                        {{$ctrl.pricing.soundSystem | number:'2'}}
                                    </span>
                                    <span ng-switch-default>
                                        0
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr class="border-info">
                            <td class="text-right">Fixed Cost</td>
                            <td class="text-info">
                                <small>This is for additional small items needed</small>
                            </td>
                            <td colspan="2" class="text-right">
                                <span>{{$ctrl.pricing.fixedCost| number:'2'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Fixed Labor</td>
                            <td class="text-info">
                                <small>This is for additional small labor needed</small>
                            </td>
                            <td colspan="2" class="text-right">
                                <span>{{$ctrl.pricing.fixedLabor| number:'2'}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-danger">This is just an estimated price.<br />The price may change depending on the venue.</td>
                            <th class="text-right">Total Price</th>
                            <th class="text-right">
                                {{ $ctrl.pricing.total | number:'2'}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

        <div ng-if="$ctrl.pricing.total>0" class="card border-success mt-2">
            <div class="card-header bg-dark text-white">
                <h5><span class="fas fa-fw fa-layer-group"></span>&nbsp;Preferred Layout and Comments</h5>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <div class="card" ng-class="{'bg-info text-white': img.selected}" ng-repeat="img in $ctrl.formData.package.images">
                        <div class="card-header">
                            <div class="custom-control custom-checkbox">
                                <input ng-model="img.selected" type="checkbox" class="custom-control-input" id="{{img.packageImageId}}">
                                <label class="custom-control-label" for="{{img.packageImageId}}">{{img.name}}</label>
                            </div>
                        </div>
                        <img ng-src="{{img.imageUrl}}" class="card-img-top" alt="{{img.name}}">
                    </div>

                </div>

                <hr />
                <div class="card-title">
                    <b>Notes and Comments</b>
                </div>
                <textarea ng-model="$ctrl.formData.notes" rows="4" class="form-control"></textarea>
                <div class="mt-3">
                    <button ng-click="$ctrl.processForm()"
                            ng-disabled="!$ctrl.pricing.total"
                            class="btn btn-lg"
                            ng-class="{'btn-outline-primary': $ctrl.pricing.total<=0, 'btn-primary': $ctrl.pricing.total>0}">
                        Reserve
                    </button>
                </div>
            </div>
        </div>

        <!--<div ng-if="$ctrl.pricing.total>0" class="card border-success mt-2">
            <div class="card-header bg-success text-white">
                <h5><span class="fas fa-fw fa-paper-plane"></span>&nbsp;Complete Your Reservation</h5>
            </div>
            <div class="card-body bg-white">
                <div class="row">
                    <div class="col-sm-4">
                        <button ng-click="$ctrl.processForm(1)" class="btn btn-lg btn-primary">Submit Reservation</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-lg btn-primary">Submit Reservation then Pay Via Credit Card</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-lg btn-primary">Submit Reservation then Pay Via Smart Padala</button>
                    </div>
                </div>


            </div>
        </div>-->
    </div>


</div>

